<div class="modal-overlay"></div>

<div class="modal-container">
  <div class="modal-content">
    <button class="btn-close close-button" {{action (fn this.onClose)}}></button>
    <div class="modal-body" style={{"height: 500px; width: 100%;"}}>
        {{workspace workspaceId=@workspaceId dataId="modal-workspace" }}
        {{#unless this.isRendered}}
          <button type="button" class="custom-button" {{action (fn this.showWorkspace)}}>Render</button>
        {{/unless}}
    </div>
  </div>
</div>